openapi: 3.0.3
info:
  title: Purrfect API
  version: 1.0.0
  description: >
    Secure cat marketplace backend with escrow milestone settlement,
    veterinary inspection window, and dispute moderation.
servers:
  - url: https://api.purrfect.kz
    description: Production
  - url: http://localhost:3000
    description: Local
tags:
  - name: auth
  - name: users
  - name: listings
  - name: orders
  - name: inspections
  - name: disputes
  - name: moderation
  - name: admin
paths:
  /auth/register:
    post:
      tags: [auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
  /auth/login:
    post:
      tags: [auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
  /auth/refresh:
    post:
      tags: [auth]
      summary: Rotate refresh token and issue new access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Token rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
  /auth/logout:
    post:
      tags: [auth]
      summary: Logout and revoke refresh token family
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me:
    get:
      tags: [users]
      summary: Get current user profile
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings:
    get:
      tags: [listings]
      summary: List published listings (cursor pagination)
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema:
            type: string
            enum: [PUBLISHED, RESERVED, SOLD]
          example: PUBLISHED
        - in: query
          name: breed
          schema:
            type: string
          example: Maine Coon
        - in: query
          name: city
          schema:
            type: string
          example: Almaty
        - in: query
          name: sort
          schema:
            type: string
            enum: [-createdAt, -priceKzt, riskScore]
          example: -createdAt
      responses:
        '200':
          description: Listing page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListings'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [listings]
      summary: Create listing draft
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListingRequest'
      responses:
        '201':
          description: Draft created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}:
    get:
      tags: [listings]
      summary: Get listing details
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200':
          description: Listing detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    patch:
      tags: [listings]
      summary: Update listing draft or pending listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListingRequest'
      responses:
        '200':
          description: Listing updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    delete:
      tags: [listings]
      summary: Archive listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200':
          description: Listing archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ARCHIVED
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/submit-review:
    post:
      tags: [listings]
      summary: Submit listing for moderation review
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200':
          description: Listing moved to pending review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders:
    post:
      tags: [orders]
      summary: Create order and fund escrow (100%)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order funded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    get:
      tags: [orders]
      summary: List my orders (cursor pagination)
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema:
            type: string
            enum: [CREATED, FUNDED_100, HANDOVER_CONFIRMED, INSPECTION_ACTIVE, DISPUTED, COMPLETED, CANCELLED]
          example: INSPECTION_ACTIVE
      responses:
        '200':
          description: Orders page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrders'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/handover-confirm:
    post:
      tags: [orders]
      summary: Confirm handover and release payout milestone 1
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200':
          description: Handover confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}:
    get:
      tags: [orders]
      summary: Get order detail
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200':
          description: Order detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/cancel:
    post:
      tags: [orders]
      summary: Cancel order before handover
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/inspection:
    post:
      tags: [inspections]
      summary: Submit veterinary report during 72-hour window
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InspectionSubmitRequest'
      responses:
        '200':
          description: Inspection submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inspection'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    get:
      tags: [inspections]
      summary: Get inspection details for an order
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200':
          description: Inspection detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inspection'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/inspection/approve:
    post:
      tags: [inspections]
      summary: Buyer approves inspection and releases final payout milestone
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200':
          description: Final payout released and order completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /disputes:
    post:
      tags: [disputes]
      summary: Open dispute for an order
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisputeRequest'
      responses:
        '201':
          description: Dispute created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    get:
      tags: [disputes]
      summary: List disputes (role-aware)
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema:
            type: string
            enum: [OPEN, UNDER_REVIEW, RESOLVED_REFUND_FULL, RESOLVED_REFUND_PARTIAL, RESOLVED_RELEASE_SELLER, REJECTED]
      responses:
        '200':
          description: Dispute page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDisputes'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /disputes/{disputeId}:
    get:
      tags: [disputes]
      summary: Get dispute detail
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/DisputeIdParam'
      responses:
        '200':
          description: Dispute detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /disputes/{disputeId}/evidence:
    post:
      tags: [disputes]
      summary: Upload dispute evidence
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/DisputeIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDisputeEvidenceRequest'
      responses:
        '201':
          description: Evidence added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeEvidence'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    get:
      tags: [disputes]
      summary: List dispute evidence
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/DisputeIdParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Evidence page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDisputeEvidence'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/disputes:
    get:
      tags: [moderation]
      summary: List moderation dispute queue
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema:
            type: string
            enum: [OPEN, UNDER_REVIEW]
          example: OPEN
        - in: query
          name: sort
          schema:
            type: string
            enum: [-openedAt, priority]
          example: -openedAt
      responses:
        '200':
          description: Moderation queue page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDisputes'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/disputes/{disputeId}/resolve:
    post:
      tags: [moderation]
      summary: Resolve dispute as moderator
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: disputeId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveDisputeRequest'
      responses:
        '200':
          description: Dispute resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/users/{userId}/role:
    patch:
      tags: [admin]
      summary: Update user role as admin
      description: Assigns a new RBAC role to a platform user. Requires ADMIN role.
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRoleRequest'
      responses:
        '200':
          description: User role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/users/{userId}/status:
    patch:
      tags: [admin]
      summary: Update user status as admin
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserStatusRequest'
      responses:
        '200':
          description: User status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/audit-logs:
    get:
      tags: [admin]
      summary: List audit logs as admin
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: action
          schema:
            type: string
      responses:
        '200':
          description: Audit logs page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogs'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/logout-all:
    post:
      tags: [auth]
      summary: Revoke all active sessions for current user
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: All sessions revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/change-password:
    post:
      tags: [users]
      summary: Change current user password and revoke sessions
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Password updated. Please login again.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/sessions:
    get:
      tags: [users]
      summary: List refresh token sessions for current user
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Sessions list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    familyId: { type: string }
                    createdAt: { type: string, format: date-time }
                    expiresAt: { type: string, format: date-time }
                    revokedAt: { type: string, format: date-time, nullable: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/sessions/{sessionId}:
    delete:
      tags: [users]
      summary: Revoke one session by id
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Session revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/profile:
    patch:
      tags: [users]
      summary: Update current user profile (displayName, phone)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  minLength: 2
                  maxLength: 100
                  example: Aizere K.
                phone:
                  type: string
                  example: '+77011234567'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/stats:
    get:
      tags: [users]
      summary: Aggregated counters for current user (listings, orders, disputes, unread notifications)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Stats snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  trustScore: { type: integer, example: 76 }
                  listings:
                    type: object
                    properties:
                      active: { type: integer, example: 3 }
                      sold: { type: integer, example: 11 }
                  orders:
                    type: object
                    properties:
                      asBuyer:
                        type: object
                        properties:
                          total: { type: integer, example: 4 }
                          completed: { type: integer, example: 3 }
                      asSeller:
                        type: object
                        properties:
                          total: { type: integer, example: 12 }
                          completed: { type: integer, example: 11 }
                  openDisputes: { type: integer, example: 0 }
                  unreadNotifications: { type: integer, example: 2 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/notifications:
    get:
      tags: [users]
      summary: List notifications for current user (cursor pagination)
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema:
            type: string
            enum: [UNREAD, READ, FAILED]
      responses:
        '200':
          description: Notifications page
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        channel: { type: string, example: EMAIL }
                        templateCode: { type: string, example: ORDER_FUNDED }
                        payloadJson: { type: object }
                        status: { type: string, example: UNREAD }
                        createdAt: { type: string, format: date-time }
                  meta:
                    type: object
                    properties:
                      hasNext: { type: boolean }
                      nextCursor: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/notifications/{notificationId}/read:
    patch:
      tags: [users]
      summary: Mark a single notification as read
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: notificationId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  alreadyRead: { type: boolean, example: false }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/notifications/mark-all-read:
    post:
      tags: [users]
      summary: Mark every unread notification as read
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Bulk update result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  updated: { type: integer, example: 7 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/me/account/delete:
    post:
      tags: [users]
      summary: Soft-delete current account (anonymize, revoke sessions)
      description: >
        Requires password confirmation. Refuses while orders are still funded
        / under inspection / disputed. Email and phone are anonymized so they
        can be reused.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  example: 'CurrentPass!123'
                reason:
                  type: string
                  maxLength: 500
                  example: 'No longer using marketplace'
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /users/{userId}:
    get:
      tags: [users]
      summary: Public profile of any user (limited fields)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Public profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  displayName: { type: string }
                  role: { type: string, enum: [BUYER, SELLER, MODERATOR, ADMIN] }
                  trustScore: { type: integer }
                  createdAt: { type: string, format: date-time }
                  activeListings: { type: integer, example: 4 }
                  completedSales: { type: integer, example: 11 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/media:
    post:
      tags: [listings]
      summary: Add media to listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mediaType, storageUrl, checksumSha256]
              properties:
                mediaType:
                  type: string
                  enum: [PHOTO, VIDEO]
                storageUrl:
                  type: string
                  format: uri
                checksumSha256:
                  type: string
      responses:
        '201': { description: Media added }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    get:
      tags: [listings]
      summary: List listing media
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200': { description: Listing media list }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/documents:
    post:
      tags: [listings]
      summary: Add document to listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '201': { description: Document added }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    get:
      tags: [listings]
      summary: List listing documents
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200': { description: Listing documents list }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/documents/{documentId}/verify:
    post:
      tags: [moderation]
      summary: Verify listing document as moderator
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
        - in: path
          name: documentId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201': { description: Document verification created }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/transactions:
    get:
      tags: [orders]
      summary: List escrow transactions for order
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200': { description: Order transactions }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/payouts:
    get:
      tags: [orders]
      summary: List payout milestones for order
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200': { description: Order payouts }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/timeline:
    get:
      tags: [orders]
      summary: Get business timeline for order
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200': { description: Order timeline }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /orders/{orderId}/audit:
    get:
      tags: [orders]
      summary: Get consolidated audit view for order
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/OrderIdParam'
      responses:
        '200': { description: Order audit details }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /disputes/{disputeId}/reopen:
    post:
      tags: [disputes]
      summary: Reopen previously resolved dispute
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/DisputeIdParam'
      responses:
        '200': { description: Dispute reopened }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/cases:
    get:
      tags: [moderation]
      summary: List moderation cases
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200': { description: Moderation cases page }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/cases/{caseId}:
    get:
      tags: [moderation]
      summary: Get moderation case detail
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200': { description: Moderation case detail }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/listings:
    get:
      tags: [moderation]
      summary: List listing moderation queue
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200': { description: Listing moderation queue }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/listings/{listingId}/approve:
    post:
      tags: [moderation]
      summary: Approve pending listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200': { description: Listing approved }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/listings/{listingId}/reject:
    post:
      tags: [moderation]
      summary: Reject pending listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200': { description: Listing rejected }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/listings/{listingId}/risk-flag:
    post:
      tags: [moderation]
      summary: Set listing risk score and create risk case
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200': { description: Risk flag applied }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/listings/{listingId}/risk-signals:
    get:
      tags: [moderation]
      summary: Get risk signals for listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200': { description: Listing risk signals }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/dashboard-kpis:
    get:
      tags: [admin]
      summary: Get admin dashboard KPI summary
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: KPI summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  usersTotal: { type: integer, example: 2400 }
                  listingsPublished: { type: integer, example: 312 }
                  disputesOpen: { type: integer, example: 8 }
                  ordersCompleted: { type: integer, example: 128 }
                  activeRiskFlags: { type: integer, example: 11 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/verify-email:
    post:
      tags: [auth]
      summary: Confirm email ownership using the verification token
      description: >
        Token is sent in the verification email queued during registration. One-time use,
        24h TTL. Accepts the token in the JSON body or as `?token=` query parameter
        (so the email link works directly).
      parameters:
        - in: query
          name: token
          required: false
          schema: { type: string, minLength: 16, maxLength: 256 }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string, example: 06dae34d4400d2e57e40f6667a6570083cf4c47d6b6f1470362b767c7f879a95 }
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  alreadyVerified: { type: boolean, example: false }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/resend-verification:
    post:
      tags: [auth]
      summary: Re-send the verification email (rate-limited, always 200 to avoid enumeration)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email, example: buyer@purrfect.local }
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429':
          description: Too many requests
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/forgot-password:
    post:
      tags: [auth]
      summary: Start password reset (always returns 200 to prevent enumeration)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email, example: buyer.demo@purrfect.kz }
      responses:
        '200':
          description: Reset link issued (or pretended to be issued)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }
                  devToken:
                    type: string
                    description: Only present when NODE_ENV != production. Use directly in /auth/reset-password.
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }

  /auth/reset-password:
    post:
      tags: [auth]
      summary: Complete password reset using a token from /auth/forgot-password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token: { type: string, example: 'a3f1...32hex' }
                newPassword: { type: string, minLength: 8, example: 'NewStr0ngPass!23' }
      responses:
        '200':
          description: Password reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/me:
    get:
      tags: [listings]
      summary: List current seller's listings (any status)
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema:
            type: string
            enum: [DRAFT, PENDING_REVIEW, PUBLISHED, RESERVED, SOLD, REJECTED, ARCHIVED]
      responses:
        '200':
          description: Paged listings owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListings'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/search:
    get:
      tags: [listings]
      summary: Search published listings (text + price range + filters)
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: q
          schema: { type: string, minLength: 1, maxLength: 120 }
          example: maine coon
        - in: query
          name: priceMin
          schema: { type: number, minimum: 0 }
          example: 100000
        - in: query
          name: priceMax
          schema: { type: number, minimum: 0 }
          example: 500000
        - in: query
          name: breed
          schema: { type: string }
        - in: query
          name: city
          schema: { type: string }
        - in: query
          name: sort
          schema:
            type: string
            enum: ['-createdAt', 'createdAt', '-priceKzt', 'priceKzt']
            default: '-createdAt'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListings'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/republish:
    post:
      tags: [listings]
      summary: Move a REJECTED or ARCHIVED listing back to DRAFT for editing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200':
          description: Listing reopened as DRAFT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/report:
    post:
      tags: [listings]
      summary: Report a listing — opens a moderation case
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reasonCode]
              properties:
                reasonCode:
                  type: string
                  enum: [FRAUD, MISLEADING, HEALTH_CONCERN, INAPPROPRIATE, OTHER]
                note:
                  type: string
                  maxLength: 1000
      responses:
        '201':
          description: Moderation case opened
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/media/{mediaId}:
    delete:
      tags: [listings]
      summary: Remove a media item from a listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
        - in: path
          name: mediaId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Media removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalError' }

  /listings/{listingId}/documents/{documentId}:
    delete:
      tags: [listings]
      summary: Remove a document from a listing
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
        - in: path
          name: documentId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Document removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalError' }

  /disputes/{disputeId}/comments:
    get:
      tags: [disputes]
      summary: List comments on a dispute
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: disputeId
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Comments page
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        disputeId: { type: string, format: uuid }
                        authorId: { type: string, format: uuid }
                        text: { type: string }
                        createdAt: { type: string, format: date-time }
                  meta:
                    type: object
                    properties:
                      hasNext: { type: boolean }
                      nextCursor: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [disputes]
      summary: Post a comment to a dispute thread
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: disputeId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 2000 }
      responses:
        '201':
          description: Comment created
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/cases/{caseId}/close:
    patch:
      tags: [moderation]
      summary: Close a moderation case
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: caseId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, example: NO_VIOLATION }
                decisionNote: { type: string, maxLength: 2000 }
      responses:
        '200':
          description: Case closed
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/listings/{listingId}/risk-flag/clear:
    post:
      tags: [moderation]
      summary: Clear all OPEN risk flags on a listing and reset risk score
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200':
          description: Risk flags cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  listingId: { type: string, format: uuid }
                  closedCases: { type: integer, example: 2 }
                  currentRiskScore: { type: integer, example: 0 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  /moderation/listings/{listingId}/full-context:
    get:
      tags: [moderation]
      summary: Full moderation context — listing + media + docs + cases + seller
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ListingIdParam'
      responses:
        '200':
          description: Aggregate snapshot for moderator review
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/users/{userId}/ban:
    patch:
      tags: [admin]
      summary: Ban a user (sets status to SUSPENDED, revokes sessions). Reason is required.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 5
                  maxLength: 500
                  example: 'Multiple verified fraud reports'
      responses:
        '200':
          description: User banned (status=SUSPENDED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/users/{userId}:
    get:
      tags: [admin]
      summary: Detailed view of a single user (admin) with usage stats
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: User detail with stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/User'
                  - type: object
                    properties:
                      stats:
                        type: object
                        properties:
                          listingsCount: { type: integer }
                          activeListingsCount: { type: integer }
                          ordersAsBuyer: { type: integer }
                          ordersAsSeller: { type: integer }
                          openDisputes: { type: integer }
                          activeSessions: { type: integer }
                          auditLogsCount: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
    delete:
      tags: [admin]
      summary: Soft-delete a user (anonymize, revoke sessions). Refuses while orders are in flight.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: reason
          schema: { type: string, maxLength: 500 }
          example: 'GDPR erasure request'
      responses:
        '200':
          description: User soft-deleted
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/orders/{orderId}:
    get:
      tags: [admin]
      summary: Detailed view of a single order (admin) including escrow, payouts, inspection, dispute
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Order with all related entities
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/users:
    get:
      tags: [admin]
      summary: List users (admin only) with role/status/search filters
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: role
          schema: { type: string, enum: [BUYER, SELLER, MODERATOR, ADMIN] }
        - in: query
          name: status
          schema: { type: string, enum: [ACTIVE, SUSPENDED, DELETED] }
        - in: query
          name: q
          schema: { type: string, minLength: 1, maxLength: 120 }
      responses:
        '200':
          description: Users page
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [admin]
      summary: Create privileged user (MODERATOR/ADMIN) — admin only
      description: >
        Direct creation of a MODERATOR or ADMIN account. Bypasses public
        /auth/register (which is restricted to BUYER/SELLER) so onboarding
        platform staff does not require a promotion step. Argon2-hashed
        password, audit-logged as `ADMIN_USER_CREATE`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, displayName, role]
              properties:
                email: { type: string, format: email, example: mod1@purrfect.local }
                password:
                  type: string
                  minLength: 8
                  example: ModPass!2026
                  description: At least 8 chars, uppercase, lowercase, digit, special character.
                displayName: { type: string, minLength: 2, maxLength: 100, example: Mod One }
                role:
                  type: string
                  enum: [MODERATOR, ADMIN]
                  example: MODERATOR
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  email: { type: string, format: email }
                  role: { type: string, enum: [MODERATOR, ADMIN] }
                  status: { type: string, example: ACTIVE }
                  displayName: { type: string }
                  trustScore: { type: integer, example: 50 }
                  createdAt: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/orders:
    get:
      tags: [admin]
      summary: List orders globally (admin only) with status/buyer/seller filters
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema:
            type: string
            enum: [CREATED, FUNDED_100, HANDOVER_CONFIRMED, INSPECTION_ACTIVE, DISPUTED, COMPLETED, CANCELLED]
        - in: query
          name: buyerId
          schema: { type: string, format: uuid }
        - in: query
          name: sellerId
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Orders page
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/orders/{orderId}/force-complete:
    post:
      tags: [admin]
      summary: Force-complete a stuck order (releases milestone 2 if pending)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 5, maxLength: 500 }
      responses:
        '200':
          description: Order completed
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/queues/email/stats:
    get:
      tags: [admin]
      summary: Email queue observability — counts and attached workers
      description: BullMQ-backed email queue. Returns counts per state and worker registry.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Queue snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  queue: { type: string, example: email }
                  counts:
                    type: object
                    properties:
                      active: { type: integer, example: 0 }
                      completed: { type: integer, example: 12 }
                      failed: { type: integer, example: 0 }
                      delayed: { type: integer, example: 0 }
                      waiting: { type: integer, example: 1 }
                      paused: { type: integer, example: 0 }
                  workersAttached:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        addr: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/financial-summary:
    get:
      tags: [admin]
      summary: Aggregate escrow + platform fee totals over a time window
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Financial summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  window:
                    type: object
                    properties:
                      from: { type: string, format: date-time, nullable: true }
                      to: { type: string, format: date-time, nullable: true }
                  txTypes:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        count: { type: integer }
                        sumKzt: { type: number }
                  totalAmountKzt: { type: number }
                  totalCount: { type: integer }
                  platformFeeKzt: { type: number }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalError' }

  /health/live:
    get:
      tags: [system]
      summary: Liveness probe (process is up)
      responses:
        '200':
          description: Live
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: live }

  /health/ready:
    get:
      tags: [system]
      summary: Readiness probe (DB + Redis reachable)
      responses:
        '200':
          description: Ready
        '503':
          description: At least one dependency is down
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: not_ready }
                  checks:
                    type: object
                    properties:
                      db: { type: string, enum: [up, down] }
                      redis: { type: string, enum: [up, down] }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    CursorParam:
      in: query
      name: cursor
      required: false
      schema:
        type: string
      description: Opaque keyset cursor from previous page
      example: eyJjcmVhdGVkQXQiOiIyMDI2LTA0LTA3VDEzOjQyOjAwWiIsImlkIjoiY2YxMiJ9
    LimitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    ListingIdParam:
      in: path
      name: listingId
      required: true
      schema:
        type: string
        format: uuid
    OrderIdParam:
      in: path
      name: orderId
      required: true
      schema:
        type: string
        format: uuid
    DisputeIdParam:
      in: path
      name: disputeId
      required: true
      schema:
        type: string
        format: uuid
    UserIdParam:
      in: path
      name: userId
      required: true
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: BAD_REQUEST
            message: Invalid query parameter value
    Unauthorized:
      description: Authentication failed or token missing
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: UNAUTHORIZED
            message: Access token is invalid or expired
    Forbidden:
      description: Authenticated but missing required role/permission
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: FORBIDDEN
            message: Admin role is required
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: NOT_FOUND
            message: Listing not found
    Conflict:
      description: Business state conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: CONFLICT
            message: Order is already in disputed state
    UnprocessableEntity:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: VALIDATION_ERROR
            message: inspection report URL is required
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: INTERNAL_ERROR
            message: Unexpected server error
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: TOO_MANY_REQUESTS
            message: Too many auth attempts. Try again in 1 minute.

  schemas:
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          nullable: true

    RegisterRequest:
      type: object
      required: [email, password, displayName, role]
      properties:
        email:
          type: string
          format: email
          example: buyer01@purrfect.kz
        password:
          type: string
          minLength: 8
          example: Str0ngPass!23
        displayName:
          type: string
          example: Aigerim K.
        role:
          type: string
          enum: [BUYER, SELLER]
          example: BUYER

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: seller01@purrfect.kz
        password:
          type: string
          example: StrongSellerPass123

    UpdateUserRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [BUYER, SELLER, MODERATOR, ADMIN]
          example: MODERATOR
        reason:
          type: string
          nullable: true
          example: Escalated user to moderation team for on-call rotation.

    UpdateUserStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DELETED]
          example: SUSPENDED
        reason:
          type: string
          nullable: true
          example: Suspended due to repeated policy violations.

    AuthResponse:
      type: object
      required: [accessToken, refreshToken, user]
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.access.payload
        refreshToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.refresh.payload
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum: [BUYER, SELLER, MODERATOR, ADMIN]
        displayName:
          type: string
        trustScore:
          type: integer
          example: 76

    CreateListingRequest:
      type: object
      required: [title, description, breed, gender, birthDate, vaccinationStatus, priceKzt, city]
      properties:
        title:
          type: string
          example: Scottish Fold kitten, vaccinated
        description:
          type: string
          example: Playful kitten with health passport and first vaccine.
        breed:
          type: string
          example: Scottish Fold
        gender:
          type: string
          enum: [MALE, FEMALE]
          example: FEMALE
        birthDate:
          type: string
          format: date
          example: '2026-01-12'
        vaccinationStatus:
          type: string
          example: 1st dose completed
        priceKzt:
          type: number
          format: double
          example: 250000
        city:
          type: string
          example: Astana

    UpdateListingRequest:
      type: object
      properties:
        title:
          type: string
          example: British Shorthair kitten with passport
        description:
          type: string
          example: Updated health notes and photo set.
        vaccinationStatus:
          type: string
          example: 2nd dose completed
        priceKzt:
          type: number
          format: double
          example: 280000
        city:
          type: string
          example: Almaty

    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
        sellerId:
          type: string
          format: uuid
        title:
          type: string
        breed:
          type: string
        priceKzt:
          type: number
          format: double
        city:
          type: string
        status:
          type: string
          enum: [DRAFT, PENDING_REVIEW, PUBLISHED, RESERVED, SOLD, REJECTED, ARCHIVED]
        riskScore:
          type: integer
          example: 34
        createdAt:
          type: string
          format: date-time

    CreateOrderRequest:
      type: object
      required: [listingId]
      properties:
        listingId:
          type: string
          format: uuid
          example: b8f198e7-ea6b-4d4a-a5bc-faf9d32d6ca7
        idempotencyKey:
          type: string
          example: ord_01J9J4XX45QCNH7Y

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        listingId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        sellerId:
          type: string
          format: uuid
        status:
          type: string
          enum: [CREATED, FUNDED_100, HANDOVER_CONFIRMED, INSPECTION_ACTIVE, DISPUTED, COMPLETED, CANCELLED]
        totalAmountKzt:
          type: number
          format: double
          example: 250000
        payout1Kzt:
          type: number
          format: double
          example: 118750
        payout2Kzt:
          type: number
          format: double
          example: 118750
        inspectionDeadline:
          type: string
          format: date-time

    InspectionSubmitRequest:
      type: object
      required: [clinicName, reportUrl, outcome]
      properties:
        clinicName:
          type: string
          example: Almaty Vet Care
        reportUrl:
          type: string
          format: uri
          example: https://files.purrfect.kz/reports/rep_123.pdf
        outcome:
          type: string
          enum: [PASSED, FAILED]
          example: PASSED
        notes:
          type: string
          example: General health normal, no critical findings.

    Inspection:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, PASSED, FAILED, EXPIRED]
        deadlineAt:
          type: string
          format: date-time
        submittedAt:
          type: string
          format: date-time
          nullable: true

    CreateDisputeRequest:
      type: object
      required: [orderId, reasonCode]
      properties:
        orderId:
          type: string
          format: uuid
        reasonCode:
          type: string
          enum: [HEALTH_MISMATCH, FAKE_BREED_DOCS, NOT_AS_DESCRIBED, OTHER]
          example: HEALTH_MISMATCH
        evidenceUrls:
          type: array
          items:
            type: string
            format: uri
          example:
            - https://files.purrfect.kz/evidence/photo1.jpg
            - https://files.purrfect.kz/evidence/vet-note.pdf
        description:
          type: string
          example: Vet found congenital issue not disclosed in listing.

    ResolveDisputeRequest:
      type: object
      required: [resolution]
      properties:
        resolution:
          type: string
          enum: [REFUND_FULL, REFUND_PARTIAL, RELEASE_SELLER]
        refundAmountKzt:
          type: number
          format: double
          nullable: true
          example: 50000
        note:
          type: string
          example: Partial refund approved based on medical evidence.

    Dispute:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        status:
          type: string
          enum: [OPEN, UNDER_REVIEW, RESOLVED_REFUND_FULL, RESOLVED_REFUND_PARTIAL, RESOLVED_RELEASE_SELLER, REJECTED]
        reasonCode:
          type: string
        openedAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
          nullable: true

    AddDisputeEvidenceRequest:
      type: object
      required: [evidenceType, fileUrl]
      properties:
        evidenceType:
          type: string
          enum: [PHOTO, VIDEO, PDF_REPORT, CHAT_SCREENSHOT, OTHER]
          example: PDF_REPORT
        fileUrl:
          type: string
          format: uri
          example: https://files.purrfect.kz/evidence/report_224.pdf
        note:
          type: string
          example: Vet report confirming congenital heart issue.

    DisputeEvidence:
      type: object
      properties:
        id:
          type: string
          format: uuid
        disputeId:
          type: string
          format: uuid
        uploaderId:
          type: string
          format: uuid
        evidenceType:
          type: string
          enum: [PHOTO, VIDEO, PDF_REPORT, CHAT_SCREENSHOT, OTHER]
        fileUrl:
          type: string
          format: uri
        note:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        actorUserId:
          type: string
          format: uuid
          nullable: true
        action:
          type: string
        entityType:
          type: string
        entityId:
          type: string
        beforeJson:
          type: object
          nullable: true
        afterJson:
          type: object
          nullable: true
        ipAddress:
          type: string
          nullable: true
        userAgent:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    PageMeta:
      type: object
      required: [hasNext, nextCursor]
      properties:
        hasNext:
          type: boolean
        nextCursor:
          type: string
          nullable: true

    PaginatedListings:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Listing'
        meta:
          $ref: '#/components/schemas/PageMeta'

    PaginatedOrders:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/PageMeta'

    PaginatedDisputes:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Dispute'
        meta:
          $ref: '#/components/schemas/PageMeta'

    PaginatedDisputeEvidence:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DisputeEvidence'
        meta:
          $ref: '#/components/schemas/PageMeta'

    PaginatedAuditLogs:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AuditLog'
        meta:
          $ref: '#/components/schemas/PageMeta'
